Repository semilleroCV/deep-learning-notes, pull requests merged in 2024-07, with the labels that each got.

#13 Add DenseNet on architectures
  automation/notebooks-table-data.csv
  notebooks/architectures/densenet.ipynb
Labels: architecture

#16 Add InceptionV1 on architectures
  automation/notebooks-table-data.csv
  notebooks/architectures/inceptionv1.ipynb
Labels: architecture

#15 feat/intersection-over-union
  assets/feature-image-iou.jpg
  automation/notebooks-table-data.csv
  notebooks/metrics/intersection-over-union.ipynb
Labels: metric

#17 Add MLP Mixer on architectures
  automation/notebooks-table-data.csv
  notebooks/architectures/mlp-mixer.ipynb
Labels: architecture

#12 Enh/automation paper column
  CONTRIBUTING.md
  README.md
  automation/autogenerate_notebooks_table.py
  automation/notebooks-table-data.csv
Labels: enhancement

#7 l1-loss
  notebooks/losses/l1-and-l2-loss.ipynb
Labels: loss

#19 Feat/word embeddings
  assets/word-embeddings/plot-with-pca.png
  assets/word-embeddings/plot-with-tsne.png
  assets/word-embeddings/train-rnn-with-raw.png
  assets/word-embeddings/what-is-word-embedding.png
  assets/word-embeddings/window-sample.png
  automation/notebooks-table-data.csv
  notebooks/data_exploration/glove-word-embeddings.ipynb
  papers/word-embeddings.md
Labels: data exploration
