Repository semilleroCV/deep-learning-notes, pull requests merged in 2024-06, with the labels that each got.

#1 Focal Loss
  notebooks/losses/focal-loss.ipynb
Labels: enhancement

#2 Feat/automation table
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/rebuild-readme-notebooks-table-on-pr-merge-to-main.yml
  CONTRIBUTING.md
  README.md
  automation/autogenerate_notebooks_table.py
  automation/notebooks-table-data.csv
Labels: enhancement

#11 Add NiN on architectures
  notebooks/architectures/network-in-network.ipynb
Labels: architecture

#9 Add CELoss vs NLLLoss
  automation/notebooks-table-data.csv
  notebooks/losses/celoss-vs-nllloss.ipynb
Labels: loss

#4 Add Xception on architectures
  automation/notebooks-table-data.csv
  notebooks/architectures/xception.ipynb
Labels: architecture

#8 Added pixel shuffle module
  automation/notebooks-table-data.csv
  notebooks/modules/pixel-shuffle.ipynb
Labels: module

#5 Add U-Net on architectures
  automation/notebooks-table-data.csv
  notebooks/architectures/unet.ipynb
Labels: architecture

#14 Add Mobilenetv1 on architectures
  automation/notebooks-table-data.csv
  notebooks/architectures/mobilenetv1.ipynb
Labels: architecture
